<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 titleBlock">
      <h1>About Me</h1>
      <h2>What I do</h2>
      <h2>I am a full-stack web developer</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <a href="/" class="col-xs-3 col-md-2 col-md-offset-2">Home</a>
      <a href="#" class="col-xs-3 col-md-2">About</a>
      <a href="portfolio" class="col-xs-3 col-md-2">Portfolio</a>
      <a href="contact" class="col-xs-3 col-md-2">Contact</a>
    </div>
  </div>
</div>
