<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 titleBlock">
      <h1>About Me_</h1>
      <h2>Who Am I and What Do I Do?</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 projectContainer">
      <h2>What I do</h2>
      <h2>I am a full-stack web developer</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 linkBlock">
      <a href="/" class="col-xs-2 col-sm-3">Home</a>
      <a href="#" class="col-xs-3 col-sm-3">About</a>
      <a href="portfolio" class="col-xs-3 col-sm-3">Portfolio</a>
      <a href="contact" class="col-xs-3 col-sm-3">Contact</a>
    </div>
  </div>
</div>
