<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 titleBlock">
      <h1>About Me_</h1>
      <h2>Who Am I and What Do I Do?</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 textContainer">
      <h2>Who Am I?</h2>
      <h4 class="generalText">
        Hi, I'm Cam. And I'm a Web Developer. <br /><br />
        JavaScript is my main love however I am slowly moulding myself into a language agnostic coder.
        My journey so far hasn't been long and I very much consider myself a Junior Dev, however I've managed to fit a
        lot in my time so far.
        <br />
        After transitioning from Civil Engineering I began a grueling bootcamp at <a href="http://www.devacademy.co.nz/" >Enspiral Dev Academy</a>.
        18 weeks later I graduated with well refined practical skills and the desire to keep expanding my knowledge.
        <br />
        I’m an open learner and value the quality of a job over the speed of which it is completed.
        I come from a Civil Engineering background but my long standing love of tech, and the future potential of tech
        prompted my transition to web development.
        This background gives me a solid base in logical processes, client communication, project management and planning.
        I will provide an enthusiastic, dedicated, co-operative personality. My non-extensive, but varied experiences
        and knowledge base will be available to use on any project.
      </h4>
      <h2>What I do</h2>
      <h4 class="generalText">

      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 linkBlock">
      <a href="/" class="col-xs-3 col-sm-3">Home</a>
      <a href="#" class="col-xs-3 col-sm-3 active">About</a>
      <a href="portfolio" class="col-xs-3 col-sm-3">Portfolio</a>
      <a href="contact" class="col-xs-3 col-sm-3">Contact</a>
    </div>
  </div>
</div>
