<h1>About Me</h1>
<h2>What I do</h2>
<h2>I am a full-stack web developer</h2>
<h2></h2>

<div class="linkBlock">
  <a href="/" >Home</a>
  <a href="#" >About</a>
  <a href="portfolio" >Portfolio</a>
  <a href="contact" >Contact</a>
</div>
