<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 titleBlock">
      <h1>About Me_</h1>
      <h2>Who Am I and What Do I Do?</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 projectContainer">
      <h2>Who Am I?</h2>
      <p class="generalText">
        I pride myself on my commitment, professionalism, attention to detail and ability to find answers.
        I’m an open learner and value the quality of a job over the speed of which it is completed.
        My long standing love of tech, and the future potential of tech prompted my transition from an engineering student
        to web development.
        This background gives me a solid base in logical processes, client communication, project management and planning.
        In exchange for a great work culture, versatile opportunities, and an environment that fosters ongoing learning,
        I will provide an enthusiastic, dedicated, co-operative personality. My non-extensive, but varied experiences
        and knowledge base will be available to use on any project. And I will bring a fresh, practical perspective that
        will outshine any computer science degree.
      </p>
      <h2>What I do</h2>
      <h2>I am a full-stack web developer</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 linkBlock">
      <a href="/" class="col-xs-3 col-sm-3">Home</a>
      <a href="#" class="col-xs-3 col-sm-3 active">About</a>
      <a href="portfolio" class="col-xs-3 col-sm-3">Portfolio</a>
      <a href="contact" class="col-xs-3 col-sm-3">Contact</a>
    </div>
  </div>
</div>
