<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 titleBlock">
      <h1>Get In Touch_</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 textContainer">
      <h3>Ph: <a href="tel: +64274293330" >+64 27 429 3330</a></h3>
      <h3>Email: <a href="mailto:cameronshotter@gmail.com?Subject=Hello%20again" target="_top">cameronshotter@gmail.com</a></h3>
      <h3>Linked In: <a href="https://www.linkedin.com/in/cameron-shotter-338259ba?trk=nav_responsive_tab_profile">linkedin.com/cameron-shotter</a></h3>
      <h3>Github: <a href="https://github.com/cam-shotter">github.com/cam-shotter</a></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 linkBlock">
      <a href="/" class="col-xs-3 col-sm-3">Home</a>
      <a href="about" class="col-xs-3 col-sm-3">About</a>
      <a href="portfolio" class="col-xs-3 col-sm-3">Portfolio</a>
      <a href="#" class="col-xs-3 col-sm-3 active">Contact</a>
    </div>
  </div>
</div>
