<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 titleBlock">
      <h1>Contact</h1>
      <p>Ph: <a href="tel: +64274293330" >+64 27 429 3330</a></p>
      <p>Email: <a href="mailto:cameronshotter@gmail.com?Subject=Hello%20again" target="_top">cameronshotter@gmail.com</a></p>
      <p>Linked In: <a href="https://www.linkedin.com/in/cameron-shotter-338259ba?trk=nav_responsive_tab_profile">Cam Shotter</a></p>

      <div class="social-links">

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <a href="/" class="col-xs-3 col-md-2 col-md-offset-2">Home</a>
      <a href="about" class="col-xs-3 col-md-2">About</a>
      <a href="portfolio" class="col-xs-3 col-md-2">Portfolio</a>
      <a href="#" class="col-xs-3 col-md-2">Contact</a>
    </div>
  </div>
</div>
