<h1>Contact</h1>
<p>Ph: <a href="tel: +64274293330" >+64 27 429 3330</a></p>
<p>Email: <a href="mailto:cameronshotter@gmail.com?Subject=Hello%20again" target="_top">cameronshotter@gmail.com</a></p>
<p>Linked In: <a href="https://www.linkedin.com/in/cameron-shotter-338259ba?trk=nav_responsive_tab_profile">Cam Shotter</a></p>
<p></p>

<div class="linkBlock">
  <a href="/" >Home</a>
  <a href="about" >About</a>
  <a href="portfolio" >Portfolio</a>
  <a href="#" >Contact</a>
</div>
