<h1>Contact</h1>
<p>Ph: <a href="tel: +64274293330" >+64 27 429 3330</a></p>
<p>Email: <a href="mailto:cameronshotter@gmail.com?Subject=Hello%20again" target="_top">cameronshotter@gmail.com</a></p>
<p></p>
