<div class="container-fluid">
  <div class="titleBlock">
    <h1>Cam Shotter</h1>
    <h2>Full-Stack Web Developer and Creater of Awesome Things_</h2>
  </div>

  <div class="linkBlock">
    <a href="#" >Home</a>
    <a href="about" >About</a>
    <a href="portfolio" >Portfolio</a>
    <a href="contact" >Contact</a>
  </div>
</div>
