<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Cam Shotter</h1>
      <h2>Full-Stack Web Developer and Creater of Awesome Things_</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <a href="#" class="col-xs-3">Home</a>
      <a href="about" class="col-xs-3">About</a>
      <a href="portfolio" class="col-xs-3">Portfolio</a>
      <a href="contact" class="col-xs-3">Contact</a>
    </div>
  </div>
</div>
