<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 titleBlock">
      <h1>Cam Shotter</h1>
      <h2>Full-Stack Web Developer and Creater of Awesome Things_</h2>
    </div>
  </div>

  <div class="row midDivIndex">
    <div class="col-xs-12 col-sm-7 col-md-4 col-md-offset-2 projectBox">
      <h1>Dev Quest</h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-4 projectBox">
      <h1>Food Bytes</h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-3 col-md-offset-2 projectBox">
      <h1>Scratch</h1>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-5 projectBox">
      <h1>Github Repo Search</h1>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-5 col-md-offset-2 projectBox">
      <h1>Mix Bank</h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-3 projectBox">
      <h1>The Amazing James</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 linkBlock">
      <a href="#" class="col-xs-3 col-sm-3 active">Home</a>
      <a href="about" class="col-xs-3 col-sm-3">About</a>
      <a href="portfolio" class="col-xs-3 col-sm-3">Portfolio</a>
      <a href="contact" class="col-xs-3 col-sm-3">Contact</a>
    </div>
  </div>

</div>
