<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 titleBlock">
      <h1>My Work So Far_</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-4 col-md-offset-2 projectBox">
      <h4>
        Dev Quest
      </h4>
      <p class="generalText">
        A React/Redux built Rogue-like game, based on our own personal journey of learning web devlopment.
        Built as our final team project at Enspiral Dev Academy. This project had a time limit of 1 week.
      </p>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-4 projectBox">
      <h4>
        Food Bytes
      </h4>
      <p class="generalText">
        An app designed to deliver hands-free recipes. Includes voice recognition and React/Redux.
        Built as another Dev Academy final project, I came on after the first week.
      </p>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-3 col-md-offset-2 projectBox">
      <h4>
        Scratch
      </h4>
      <p class="generalText">
        A personal project which scrapes the SPCA Wellington site and was intended to make finding a new pet
        easier.
      </p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-5 projectBox">
      <h4>
        Github Repo Search
      </h4>
      <p class="generalText">
        A React Native project for iPhone which allows the user to log into their github account and
        search for any repo containing specific key words.
      </p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-5 col-md-offset-2 projectBox">
      <h4>
        Mix Bank
      </h4>
      <p class="generalText">

      </p>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-3 projectBox">
      <h4>
        The Amazing James
      </h4>
      <p class="generalText">

      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 linkBlock">
      <a href="/" class="col-xs-3 col-sm-3">Home</a>
      <a href="about" class="col-xs-3 col-sm-3">About</a>
      <a href="#" class="col-xs-3 col-sm-3 active">Portfolio</a>
      <a href="contact" class="col-xs-3 col-sm-3">Contact</a>
    </div>
  </div>
</div>
