<h1>My Work So Far_</h1>
<ul>
  <li>
    Dev Quest
  </li>
  <li>
    Food Bytes
  </li>
  <li>
    Scratch
  </li>
  <li>
    Github Repo Search
  </li>
  <li>
    Mix Bank
  </li>
  <li>
    The Amazing James
  </li>
</ul>

<div class="linkBlock">
  <a href="/" >Home</a>
  <a href="about" >About</a>
  <a href="#" >Portfolio</a>
  <a href="contact" >Contact</a>
</div>
