<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 titleBlock">
      <h1>My Work So Far_</h1>
      <ul>
        <li>
          Dev Quest
        </li>
        <li>
          Food Bytes
        </li>
        <li>
          Scratch
        </li>
        <li>
          Github Repo Search
        </li>
        <li>
          Mix Bank
        </li>
        <li>
          The Amazing James
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <a href="/" class="col-xs-3 col-md-2 col-md-offset-2">Home</a>
      <a href="about" class="col-xs-3 col-md-2">About</a>
      <a href="#" class="col-xs-3 col-md-2">Portfolio</a>
      <a href="contact" class="col-xs-3 col-md-2">Contact</a>
    </div>
  </div>
</div>
