html {
  border: 1px red solid;
  min-height: 100vh;
  background-color: #232C33;
}

body {
  text-align: center;
  padding-top: 20vh;
  background-color: transparent !important;
  font-family: 'Open Sans', sans-serif !important;
  color: #DADFF7 !important;
}

h1 {
  font-family: 'Raleway', sans-serif !important;
  /*color: green !important;*/
}

li {
  list-style: none;
  text-align: left;
  padding-left: 33%;
}

.titleBlock {
  margin-bottom: 10vh;
}

.linkBlock {

}
