html {
  min-height: 100vh;
  background-color: #232C33;
  font-size: 100% !important;
}

body {
  text-align: center;
  background-color: transparent !important;
  font-family: 'Raleway', sans-serif !important;
  color: #D6F6DD !important;
  font-size: 100% !important;
}

p {
  font-size: 0.7rem !important;
}

a {
  color: #D6F6DD !important;
}

.projectBox {
  background-color: #823200;
  height: 22vh;
  border: 3px #232C33 solid;
}

.projectBox > h1 {
  padding-top: 1rem;
}

.projectBox:nth-child(2), .projectBox:nth-child(5) {
  background-color: #650D1B;
}

.projectBox:nth-child(3) {
  background-color: #1E4642;
}

.projectBox:nth-child(6) {
  background-color: #347229;
}

.projectBox:nth-child(odd) {
  animation-duration: 2s;
  animation-name: slideinleft;
}

.projectBox:nth-child(even) {
  animation-duration: 2s;
  animation-name: slideinright;
}

.projectBox:hover {
  background-color: #3C6D69;
}

.textContainer {
  background-color: #823200;
  min-height: 66vh !important;
  border: 3px #232C33 solid;
  animation-duration: 3s;
  animation-name: fadein;
}

.textContainer > h3 > a {
  color: #56C4C5 !important;
}

.titleBlock {
  min-height: 20vh !important;
  background-color: #347229;
  border: 3px #232C33 solid;
  animation-duration: 2s;
  animation-name: slideindown;
}

.linkBlock {
  min-height: 14vh !important;
  background-color: #1E4642;
  border: 3px #232C33 solid;
  padding: 0 !important;
  min-width: 200px !important;
  animation-duration: 2s;
  animation-name: slideinup;
}

.linkBlock > a {
  padding: 5.5vh 10px 0 10px;
  font-size: 1.2rem;
  min-height: 14vh;
  border-right: 3px #232C33 solid;
}

.linkBlock > a:nth-last-child(1) {
  border-right: none;
}

.linkBlock > a:hover {
  background-color: #E89600;
}

.active {
  background-color: #E89600;
  color: #337ab7 !important;
  font-weight: 800 !important;
}

.generalText {
  text-align: justify;
  line-height: 125%;
  padding: 2%;
}

.MyCV {
  width: 800px;
  height: 1150px;
  margin-bottom: 25px;
}

@media all and (max-width: 1200px) {
  .projectBox {
    height: 22vh;
  }
}

@media all and (max-width: 992px) {
  .projectBox {
    height: 28vh;
  }

}

@media all and (max-width: 767px) {
  .projectBox {
    height: 26vh;
  }
}

@keyframes slideinleft {
  from {
    right: 100%;
  }

  to {
    right: 0%;
  }
}

@keyframes slideinright {
  from {
    left: 100%;
  }

  to {
    left: 0%;
  }
}

@keyframes slideinup {
  from {
    bottom: 20vh;
  }

  to {
    bottom: 0;
  }
}

@keyframes slideindown {
  from {
    top: 20vh;
  }

  to {
    top: 0;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


text {
  font: 10px sans-serif;
}

rect.background {
  fill: white;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}
