html {
  min-height: 100vh;
  background-color: #232C33;
  font-size: 100% !important;
}

body {
  text-align: center;
  background-color: transparent !important;
  font-family: 'Raleway', sans-serif !important;
  color: #D6F6DD !important;
  font-size: 100% !important;
}

p {
  font-size: 0.7rem !important;
}

a {
  color: #D6F6DD !important;
}

.projectBox {
  background-color: #823200;
  height: 22vh;
  border: 3px #232C33 solid;
}

.projectBox > h1 {
  padding-top: 1em;
}

.projectBox:nth-child(2), .projectBox:nth-child(5) {
  background-color: #650D1B;
}

.projectBox:nth-child(3) {
  background-color: #295F5A;
}

.projectBox:nth-child(6) {
  background-color: #347229;
}

.textContainer {
  background-color: #823200;
  min-height: 66vh !important;
  border: 3px #232C33 solid;
}

.textContainer > h3 > a {
  color: #337ab7 !important;
}

.titleBlock {
  min-height: 20vh !important;
  background-color: #347229;
  border: 3px #232C33 solid;
}

.linkBlock {
  height: 14vh !important;
  background-color: #295F5A;
  border: 3px #232C33 solid;
  padding: 0 !important;
  min-width: 200px !important;
}

.linkBlock > a {
  padding-top: 5.5vh;
  font-size: 1.2rem;
  height: 100%;
  border-right: 3px #232C33 solid;
}

.linkBlock > a:nth-last-child(1) {
  border-right: none;
}

.active {
  background-color: #E89600;
  color: #337ab7 !important;
  font-weight: 800 !important;
}

.generalText {
  text-align: justify;
  line-height: 125%;
  padding: 2%;
}

/*@media all and (max-width: 1200px) {
  html {
    font-size: 1.3rem !important;
  }

  h1 {
    font-size: 1.3rem !important;
  }

  h2, h3 {
   font-size: 1.1rem !important;
  }

  h4 {
    font-size: 1.1rem !important;
  }

  p {
    font-size: 0.7rem !important;
  }

  .projectBox {
    height: 22vh;
  }
}

@media all and (max-width: 992px) {
  html {
    font-size: 1.5rem !important;
  }

  h1 {
    font-size: 1.8rem !important;
  }

  h2, h3 {
    font-size: 1.7rem !important;
  }

  h4 {
    font-size: 1.4rem !important;
  }

  p {
    font-size: 0.7rem !important;
  }

  .projectBox {
    height: 28vh;
  }
}

@media all and (max-width: 767px) {
  html {
    font-size: 1.5rem !important;
  }

  h1 {
    font-size: 1.5rem !important;
  }

  h2, h3 {
    font-size: 1.3rem !important;
  }

  h4 {
    font-size: 1.2rem !important;
  }

  p {
    font-size: 0.8rem !important;
  }

  .projectBox {
    height: 26vh;
  }
}*/
